:root {
  --color-primary: #002c5d;
  --color-text-primary: #FFF;
  --color-bg-body: #FFFFFF
}

* {
  font-family: Nunito, Roboto, sans-serif;
}

/********************************
    Constum Scrollbar
/********************************/
* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-primary) var(--color-text-primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-track {
  background: var(--color-text-primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
  border: 3px solid var(--color-text-primary);
}

body {
  background: var(--color-bg-body);
}

.primary-background {
  background: var(--color-primary);
  color: var(--color-text-primary);
}

.bg-primary-color {
  background: var(--color-primary);
}

.text-color-primary {
  color: var(--color-text-primary);
  text-decoration: none;
}

.nav-link {
  color: var(--color-text-primary);
  border-radius: 5px;
  font-weight: 600;
  text-align: middle;
}

.nav-link:hover {
  color: var(--color-primary);
  background: var(--color-text-primary);
}

.zoom-element {
  transition: 1s;
}

.zoom-element:hover {
  transform: scale(1.1);
  transition: 1s;
}

.carousel-item>img {
  border: 4px solid var(--color-primary);
  border-radius: 20px;
  height: 80vh;
}


#div-contatos {
  position: relative;
  bottom: -70px;
  transition: 1s;
}

#div-contatos:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

p {
  font-size: 2rem;
}

span:not('.contato') {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 600;
}

li {
  font-size: 1.2rem;
}

.text-justify {
  text-align: justify;
}